@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&family=Noto+Sans:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  background-color: lightskyblue;
}
ul {
  list-style: none;
}
input {
  background-color: transparent;
}

@layer utilities {

  .wraper {
    @apply min-h-full flex flex-col
  }
  .fix {
    @apply flex-auto
  
  }
}
