@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&family=Noto+Sans:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  background-color: rgb(243 246 250 / var(--tw-bg-opacity));
}
ul {
  list-style: none;
}
